.hero-unit.stars{text-align:center;background:#000000 url('../img/stars.jpg') no-repeat right bottom;color:#FFF;-moz-text-shadow:0px 1px 3px #000000;-webkit-text-shadow:0px 1px 3px #000000;text-shadow:0px 1px 3px #000000;-moz-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 1px 2px rgba(0, 0, 0, 0.8);box-shadow:0px 1px 2px rgba(0, 0, 0, 0.8);}.hero-unit.stars p,.hero-unit.stars a{color:#FF6;}
.hero-unit.stars a{text-decoration:underline;font-weight:bold;}
.large{font-size:1.3em;line-height:1.5em;}
.alpha{font-size:1.3em;line-height:1.5em;text-align:right;color:#999;}
h2{font-size:1.4em;}
#footer ul{list-style:none;margin:0px;padding:0px 10px 0px 0px;}#footer ul li{margin-bottom:0.5em;}
#inactiveVenues{padding:0px;background:#eeeeee url("../img/stripes.png") repeat top left;border:1px solid #CCC;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}#inactiveVenues ul{list-style:none;margin:0px;padding:0px;}#inactiveVenues ul li{padding:20px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;border-top:1px solid #FFF;border-bottom:1px solid #EEE;}#inactiveVenues ul li:last-child{border-bottom:0px;}
#inactiveVenues ul li:first-child{border-top:0px;}
#inactiveVenues ul .title{display:block;font-weight:bold;font-size:1em;}
#inactiveVenues ul .description{display:block;color:#666;margin-bottom:1em;}
#header .brand{position:relative;top:24px;display:block;overflow:hidden;width:auto !important;height:32px;line-height:32px !important;margin:0px 0px 0px 0px !important;color:#FFF;font-size:18px;font-weight:normal !important;background:none !important;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.5);}#header .brand:hover{text-decoration:none;}
#header .brand i{font-size:130%;vertical-align:0px;margin-right:15px;}
table#venuesTable td{width:20%;white-space:nowrap;}table#venuesTable td label{font-size:1em;color:#666;}
table#venuesTable td input{vertical-align:top;}
table#venuesTable td ul{list-style:none;margin:0px;padding:0px;}
table.stat-table span{font-size:70%;vertical-align:bottom;}table.stat-table span.plus{color:#66DD00;}
table.stat-table span.minus{color:red;}
.tip{color:#999;}
.teaserArt{height:250px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;background-color:#EEE;text-align:center;line-height:250px;color:#999;-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);}
p.large{font-size:1.2em;line-height:1.5em;}
#rampUp ol{font-size:1.3em;}#rampUp ol li{line-height:1.5em;margin-bottom:0.5em;}
.row{margin-top:0px !important;}
.steps{font-size:1.2em;}.steps li{margin:0 0 1.5em 0px;}.steps li input{margin-top:0.5em;}
.graph-placeholder{width:100%;height:350px;background-color:#EEE;-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);}
.graph{height:350px;}
.mini-graph-placeholder{width:100%;height:120px;line-height:120px;text-align:center;background-color:#EEE;-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);}
.mini-graph{height:120px;}
.documentation{display:block;padding-left:20px;padding-top:10px;}.documentation h2,.documentation h3,.documentation h4,.documentation h5{margin:1.5em 0px 1em;}.documentation h2:first-child,.documentation h3:first-child,.documentation h4:first-child,.documentation h5:first-child{margin-top:0px;}
.documentation h2{margin-left:-20px;}
.documentation h3{border-bottom:1px solid #DDD;margin-left:-20px;}
.documentation h4{font-size:1.3em;margin-left:-20px;}
.documentation h5{font-size:1em;color:#666;text-transform:uppercase;}
.box{padding:20px;-moz-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);box-shadow:0px 0px 2px rgba(0, 0, 0, 0.8);border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background-color:#FDFDFD;}
.faqList{list-style:none;margin:0px;padding:0px;}.faqList li{margin-bottom:1.5em;}.faqList li p{margin-left:25px;}
.faqList li h4 a{text-decoration:none;}.faqList li h4 a i{vertical-align:0px;}
.faq-search{margin-bottom:2em;padding-bottom:1em;border-bottom:1px solid #EEE;}.faq-search input{width:96%;display:block;padding:15px 15px 10px 15px !important;font-size:1.6em !important;}
