<div ng-init="game = getGame(gameUuid)"></div>

<div ng-include src="'partials/games/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2><a href="#/games/{{game.uuid}}/venues">Venues</a> / Embedded</h2>
        <p>Get your embed code</p>
      </div> <!-- /.masthead-text -->
    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->

<div id="content">

  <div class="container">

    <div class="row">

      <div class="span7">

        <h3>Embed as an IFrame</h3>

        <ol class="steps">

          <li>Copy this code
            <div>
<pre class="code">
&lt;iframe width="600" height="600" src="{{game.uuid|canvasUrl:'embedded'}}">&lt;/iframe>
</pre>
            </div>

          </li>

          <li>Paste it into your website - Done!</li>

      </div>

      <div class="span4 offset1">
        <h3>Embed your game</h3>
        <p>The embed code on the left allows you to spread the love and embed your game whereever you want, websites, blogs, sky is the limit!</p>
        <p>But don't even stop there. Your players love your game, so let them share it and embed the game on their blogs and websites as well. Just share the code with them!</p>
      </div>


    </div>
  </div>
</div>
