<div ng-init="game = getGame(gameUuid)"></div>

<div ng-include src="'partials/games/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2><a href="#/games/{{game.uuid}}/venues">Venues</a> / Embedded</h2>
        <p>Spread your game virally.</p>
      </div> <!-- /.masthead-text -->
    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->

<div id="content">

  <div class="container">

    <div class="row">

      <div class="span7">

        <h3>Embed as an iFrame</h3>

        <ol class="steps">

          <li>Copy this code
            <div>
<pre class="code">
{{game.venues.embedded.computed.code}}
</pre>
            </div>

          </li>

          <li>And paste it into any website to host your game with full feature support.</li>

      </div>

      <div class="span4 offset1">
        <h3>Embed your game</h3>
        <p>This embed code allows you to display your game anywhere on the web. Use it to put your game on websites, blogs and more.</p>
        <p>Let your players work for you. Enable them to spread your game virally on blogs and websites, bringing you more plays and more money. Simply share the embed code and let your game fly.</p>
      </div>


    </div>
  </div>
</div>
