<div class="span6">
  <div class="box">
    <h3>{{venue.label}}</h3>
    <p class="description">Description for this venue</p>
      <div class="control-group" ng-show="game.venues[venue.id].computed.ready">
        <label class="control-label">
          Your Canvas URL
        </label>
        <pre><%= ENV['QS_CANVAS_APP_URL'] %>/v1/games/{{game.uuid}}/{{venue.id}}</pre>
      </div>

    <!--
      <ul>
            <li>Show of details or features</li>
            <li>Various tags</li>
      </ul>
      -->
      <div class="configuration" ng-show="showConfig(venue, game)">
        <h4>Configuration</h4>
        <div class="control-group">
          <label class="control-label" for="inputAppId">App ID</label>
          <div class="controls">
            <input type="text" ng-model="game.venues[venue.id]['app-id']" id="inputAppId" placeholder="App ID"/>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputAppSecret">App Secret</label>
          <div class="controls">
            <input type="text" ng-model="game.venues[venue.id]['app-secret']" id="inputAppSecret" placeholder="App Secret"/>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button ng-click="updateGame(game)" class="btn btn-success">Update Venue</button>
          </div>
        </div>
    </div>
    <div class="status">
      <p class="warning" ng-hide="game.venues[venue.id].computed.ready">Not Configured!</p>
      <p ng-show="game.venues[venue.id].computed.ready">All is dandy on {{venue.label}}</p>
      <!--
      <p class="danger">Temporarily closed!</p>
      -->
    </div>

  </div>
</div>
<div class="span2">
  <ul class="options">
      <li ng-show="game.venues[venue.id].computed.ready"><a class="" href="https://www.facebook.com/apps/application.php?id={{game.venues[venue.id]['app-id']}}"><i class="icon-eye-open"></i> Play</a></li>
      <li><a ng-click="disableVenue(game, venue.id)" id="inputChangeVenue{{venue.id | uppercase}}"><i class="icon-remove"></i> Disable</a></li>
      <li><a ng-click="toggleConfig(venue)"><i class="icon-wrench"></i> Configuration</li>
  </ul></div>
</div>
