<div ng-init="game = getGame(gameUuid)"></div>

<div ng-include src="'partials/games/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2><a href="#/games/{{game.uuid}}/venues">Venues</a> / Facebook</h2>
        <p>Setup your Facebook application</p>
      </div> <!-- /.masthead-text -->

    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->

<div id="content">

  <div class="container">

    <div class="row">

      <div class="span7">

        <h3>Facebook Configuration</h3>

        <ol class="steps">

          <li>Enter this URL into the URL field of your Facebook Application
            <div><input type="text" value="<%= ENV['QS_CANVAS_APP_URL'] %>/v1/games/{{game.uuid}}/facebook" id="inputAppId" class="span6" readonly="readonly" /></div>

          </li>

          <li>Enter your Facebook Application ID here
            <div><input type="text" ng-model="game.venues['facebook']['app-id']" id="inputAppId" placeholder="Facebook Application ID" class="span6" /></div>
          </li>

          <li>Enter your Facebook Application Secret here
            <div><input type="text" ng-model="game.venues['facebook']['app-secret']" id="inputAppSecret" placeholder="Facebook Application Secret" class="span6" /></div>
          </li>

          <button ng-click="updateGame(game)" class="btn btn-success">Update Facebook Settings</button>

      </div>

      <div class="span4 offset1">
        <h3>Facebook Applications</h3>
        <p>Set up your own <a href="https://developers.facebook.com/apps" target="new">Facebook application</a>. It will be owned by you and under your control at all times.</p>
        <p>Once your Application is created follow the configuration steps so Quarter Spiral can deliver your game to Faceook.</p>
      </div>


    </div>
  </div>
</div>
