<div ng-init="game = getGame(gameUuid)"></div>

<div ng-include src="'partials/games/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2><a href="#/games/{{game.uuid}}/venues">Venues</a> / Facebook Configuration</h2>
        <p>Setup your Facebook application</p>
      </div> <!-- /.masthead-text -->

    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->

<div id="content">

  <div class="container">

    <div class="row">

      <div class="span12">
        <div class="control-group">
          <label class="control-label">
            Your Canvas URL
          </label>
          <pre><%= ENV['QS_CANVAS_APP_URL'] %>/v1/games/{{game.uuid}}/facebook</pre>
        </div>

        <div class="configuration">
          <h4>Configuration</h4>
          <div class="control-group">
            <label class="control-label" for="inputAppId">App ID</label>
            <div class="controls">
              <input type="text" ng-model="game.venues['facebook']['app-id']" id="inputAppId" placeholder="App ID"/>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputAppSecret">App Secret</label>
            <div class="controls">
              <input type="text" ng-model="game.venues['facebook']['app-secret']" id="inputAppSecret" placeholder="App Secret"/>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button ng-click="updateGame(game)" class="btn btn-success">Update Venue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
