<div ng-init="game = getGame(gameUuid)"></div>

<div ng-include src="'partials/games/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2>Venues</h2>
        <p>Configure where players can find and play your game</p>
      </div> <!-- /.masthead-text -->

    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->


<div id="content">

  <div class="container">

    <div class="row">

      <div class="span12" ng-show="game.configuration.type == 'initial'">
        <div class="alert alert-error">
            You have not yet configured a single game build. Please do so <a href="/#/games/{{game.uuid}}/builds">here</a>.
        </div>
      </div>

      <div class="span12">

        <!--Members Section-->
        <table class="table table-striped" id="venuesTable">
          <thead>
            <tr>
              <th>Venue</th>
              <th colspan="2">Status</th>
              <th colspan="2">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="venue in venues">
              <td><h4>{{venue.label}}</h4></td>

              <td>
                <span class="btn-group" data-toggle="buttons-radio">
                  <a ng-click="enableVenue(game, venue.id)" id="inputChangeVenue{{venue.id | uppercase}" type="button" class="btn btn-small" ng-class="{'btn-primary active': game.venues[venue.id].enabled}">Active</a>
                  <a ng-click="disableVenue(game, venue.id)" id="inputChangeVenue{{venue.id | uppercase}}" type="button" class="btn btn-small" ng-class="{'btn-warning active': !game.venues[venue.id].enabled}">Disabled</a>
                </span>
              </td>

              <td>
                <span class="warning" ng-show="!game.venues[venue.id].computed.ready && game.venues[venue.id].enabled"><i class=" icon-warning-sign"></i> Not Configured!</span>
              </td>

              <td>
                <ul>
                  <li ng-show="game.venues[venue.id].computed.ready && game.venues[venue.id].enabled">
                    <a href="{{game.uuid|canvasUrl:venue.id}}" >Open Venue</a>
                  </li>
                  <li ng-show="venue.id == 'facebook'">
                    <a href="#/games/{{game.uuid}}/venues/facebook" >Configure</a>
                  </li>
                  <li ng-show="venue.id == 'embedded'">
                    <a href="#/games/{{game.uuid}}/venues/embedded" >Details</a>
                  </li>
                  <li ng-show="game.venues[venue.id].enabled">
                    <label><input type="checkbox" /> Do not list publicly</label>
                  </li>
                </ul>

              </td>
              <td>

              </td>
            </tr>
          </tbody>
        </table>



      </div>

    </div>

  </div>

</div>
