<div ng-controller="GamesCtrl" ng-init="game = getGame(gameUuid)">
  <div class="row">
    <div class="span12">
      <ul class="breadcrumb">
        <li>
          <a href="#/games">Dashboard</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="#/games/{{game.uuid}}">{{game.name}}</a> <span class="divider">/</span>
        </li>
        <li>
        <li class="active">Builds</li>
      </ul>
    </div>
    <div class="span12">
      <div class="hero-unit">
        <h1>Builds</h1>
        <p>Upload your latest <strong>{{game.name}}</strong> builds to all your venues.</p>
      </div>
    </div>

    <div class="span12">
      <form class="form-horizontal">

        <div ng-switch on="game.configuration.type" class="control-group">
          <div ng-switch-when="initial">
              <div class="controls">
                <p>Heya friend, you've not yet setup your game source. Go ahead, do that now and get your game up and running on Mission Kontrol in seconds!</p>
                <button ng-click="game.configuration.type = 'flash'">This is a flash game</button>
                <button ng-click="game.configuration.type = 'html5'">Nah nah, HTML5 is the new shit!</button>
              </div>
          </div>
          <div ng-switch-when="flash">
            <div class="controls">
              <iframe src="/partials/games/flash/form.html?game={{gameUuid}}" class="flash-upload"></iframe>
              <button class="btn btn-danger" ng-click="game.configuration = {type: 'html5'}">Change to HTML5</button>
            </div>
          </div>
          <div ng-switch-when="html5">
            <div class="controls">
              <label for="inputHtml5Url">Game URL</label>
              <input ng-model="game.configuration.url" type="text" id="inputHtml5Url"/>
              <br/>
              <button class="btn btn-danger" ng-click="game.configuration = {type: 'flash'}">Change to Flash</button>
            </div>
          </div>
        </div>

        <button ng-click="updateGame(game)" class="btn btn-success">Save</button>
      </form>


    </div>
  </div>
</div>
