<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Builds</h2>
          <p>Upload your latest build.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span6">

          <h2>Select Game type</h2>
          <div class="btn-group" data-toggle="buttons-radio">
            <button type="button" class="btn" data-toggle="button" ng-class="{true:'active btn-primary', false:''}[game.configuration.type == 'flash']" ng-click="game.configuration.type = 'flash'">Flash</button>
            <button type="button" class="btn" data-toggle="button" ng-class="{true:'active btn-primary', false:''}[game.configuration.type == 'html5']" ng-click="game.configuration.type = 'html5'">HTML5</button>
          </div>
          <br />

          <div ng-hide="game.configuration.type != 'flash'" class="well">
            <div ng-show="game.originalConfiguration.type == 'flash' && game.originalConfiguration.url">Current <span ng-dblclick="powerDevMode=!powerDevMode">build</span>: <a ng-hide="powerDevMode" href="{{game.originalConfiguration.url}}">{{game.originalConfiguration.url}}</a><input type="text" ng-model="game.configuration.url" ng-show="powerDevMode"/></div>
            <div ng-show="game.configuration.url && game.configuration.url != game.originalConfiguration.url">New build: <a href="{{game.configuration.url}}">{{game.configuration.url}}</a></div>
            <a class="btn btn-info" ng-click="addFlashBuild(game)">Upload a new SWF file:</a>
          </div>

          <div ng-hide="game.configuration.type != 'html5'" class="well">
            <label for="inputHtml5Url">Enter the URL for {{game.name}}:</label>
            <input ng-model="game.configuration.url" type="text" id="inputHtml5Url" placeholder="http://" />
          </div>

          <div ng-show="game.configuration.type != 'initial'">
            <button ng-click="updateGame(game)" class="btn btn-success">Save</button>
          </div>


        </div>

      </div>
    </div>
  </div>
</div>
