<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Name, Description, etc...</h2>
          <p>This information appears in the about section of your application.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">


        <div class="span8">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputName">Application Name</label>
              <div class="controls">
                <input ng-model="game.name" type="text" id="inputName" placeholder="Name" class="span5">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputDescription">Description</label>
              <div class="controls">
                <textarea ng-model="game.description" id="inputDescription" placeholder="Enter description here" rows="6" class="span5"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCategory">Category</label>
              <div class="controls">
                <p><input ng-model="game.category" type="text" id="inputCategory" placeholder="Enter category here" class="span5"></p><p class="tip">Popular: <span ng-repeat="category in categories|orderBy:'count':true|limitTo:15|orderBy:'name'"><a href="#" ng-click="game.category = category.name;$event.preventDefault()" ng-class="{'badge': game.category != category.name, 'badge badge-info': game.category == category.name}">{{category.name}}</a> </span></p>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCredits">Developed by</label>
              <div class="controls">
                <input ng-model="game.credits" type="text" id="inputCredits" placeholder="Enter your handle" class="span5">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCreditsUrl">Developer Website</label>
              <div class="controls">
                <input ng-model="game.credits_url" type="text" id="inputCreditsUrl" placeholder="Enter your web address" class="span5">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button ng-click="updateGame(game)" class="btn btn-success">Update</button>
              </div>
            </div>

          </form>

        </div>


        <div class="span3 offset1">
          <p>
            Using the following link you can permanently remove {{game.name}} from friendbar.us. This can not be undone and you'll lose all current and historic data. Be careful:
          </p>
          <div ng-init="confirmation = false">
            <div ng-hide="confirmation">
              <p>
                <a ng-click="confirmation = true"  class="warning">
                <i class="icon-warning-sign"></i>
                <span>Delete {{game.name}} forever.</span>
                </a>
              </p>
            </div>
            <div ng-show="confirmation">
              <p>
                <strong>Are you sure?</strong><br />
                <a ng-click="deleteGame(game.uuid)"  style="color:red;">
                <span>Delete it now</span>
                </a> /  
                <a ng-click="confirmation = false">
                <span>Don't delete it</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
