<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Name &amp; Description</h2>
          <p>The name and description may be what players see first. Make it count.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">


        <div class="span12">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputName">Name</label>
              <div class="controls">
                <input ng-model="game.name" type="text" id="inputName" placeholder="Name" class="span5">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputDescription">Description</label>
              <div class="controls">
                <textarea ng-model="game.description" id="inputDescription" placeholder="Description" rows="6" class="span5"></textarea>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCategory">Top Categories</label>
              <div class="controls">
                <span ng-repeat="category in categories|orderBy:'count':true|limitTo:15|orderBy:'name'"><a href="#" ng-click="game.category = category.name;$event.preventDefault()" class="badge" ng-class="{'badge-inverse': game.category != category.name, 'badge-info': game.category == category.name}">{{category.name}}</a> </span>
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCategory">Your Category</label>
              <div class="controls">
                <input ng-model="game.category" type="text" id="inputCategory" placeholder="Category" class="span5">
              </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="inputCredits">Credit line</label>
              <div class="controls">
                <input ng-model="game.credits" type="text" id="inputCredits" placeholder="ACME Co" class="span5">
              </div>
            </div>

            <div class="control-group">
              <div class="controls">
                <button ng-click="updateGame(game)" class="btn btn-success">Update</button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>

  </div>
</div>
