<div ng-controller="GamesCtrl" ng-init="game = getGame(gameUuid)">
  <div class="row">
    <div class="span12">
      <ul class="breadcrumb">
        <li>
          <a href="#/games">Dashboard</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="#/games/{{game.uuid}}">{{game.name}}</a> <span class="divider">/</span>
        </li>
        <li>
        <li class="active">Developers</li>
      </ul>
    </div>
    <div class="span10">
      <div class="hero-unit">
        <h1>Developers</h1>
        <p>Manage who can edit {{game.name}}.</p>
      </div>
    </div>
    <div class="span2">

    </div>

    <div class="span12">

      <form class="form-horizontal">
        <legend>Developers</legend>
        <ul>
          <li ng-repeat="developer in game.developers">{{developer}} <a ng-click="removeDeveloper(gameUuid, developer)">Remove</a></li>
        </ul>
        <div class="control-group">
          <label class="control-label" for="inputNewDeveloper">New Developer</label>
          <div class="controls">
            <input type="text" ng-model="newDeveloper" id="inputNewDeveloper" placeholder="Developer UUID"/>
          </div>
        </div>
        <button ng-click="addDeveloper(gameUuid, newDeveloper)">Add developer</button>
      </form>

    </div>
  </div>
</div>
