<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Dimensions</h2>
          <p>Show your game at it's best.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container" ng-controller="DimensionsController">
      <div class="row">
        <form class="form" ng-init="normalizeFluidSize(game)" ng-submit="updateGame(game)">
          <div class="span3">
            <legend>Behaviour</legend>
            <label class="radio">
              <input ng-model="game.configuration['fluid-size']" ng-value="false" type="radio" name="size-type">
              Fixed Size
            </label>
            <span class="help-block">Your game appears at a specific size (or sizes).</span>
            <label class="radio">
              <input ng-model="game.configuration['fluid-size']" ng-value="true" type="radio" name="size-type">
              Fluid / Variable
            </label>
            <span class="help-block">Your game gets as much (or as little) space as the player or venue offers.</span>
          </div>

          <div class="span8 offset1" ng-hide="game.configuration['fluid-size']">
            <legend>Configure: Fixed Size(s)</legend>
            <hr />
            <p>If you supply multiple sets we will use the one that makes best use of any given venue and player set up. Your game will need to support all of these.</p>
            <div class="row" ng-repeat="size in game.configuration.sizes">
              <div class="span2">
                <label>Fixed Width</label>
                <div class="input-append">
                  <input type="number" pattern="[0-9]*" class="span1" placeholder="eg 600" ng-model="size.width">
                  <span class="add-on">Pixels</span>
                </div>
              </div>
              <div class="span2">
                <label>Fixed Height</label>
                <div class="input-append">
                  <input type="number" pattern="[0-9]*" class="span1" placeholder="eg 400" ng-model="size.height">
                  <span class="add-on">Pixels</span>
                </div>
              </div>
              <div class="span2" ng-hide="$first && $last">
                  <a ng-click="removeSize($index)">Remove</a>
              </div>
            </div>
            <hr />
            <p><a ng-click="addSize()">Add another size</a></p>
          </div>

          <div class="span8 offset1" ng-show="game.configuration['fluid-size']">
            <legend>Configure: Fluid / Variable</legend>
            <hr />
            <p>This requires your game to dynamically adapt to different sizes depending on the venue and the player's screen size. However we will never go below the minimum values below.</p>
            <div class="row">
              <div class="span2">
              <label>Minimum Width</label>
                <div class="input-append">
                  <input type="number" pattern="[0-9]*" class="span1" placeholder="eg 600" ng-model="game.configuration.sizes[0].width">
                  <span class="add-on">Pixels</span>
                </div>
              </div>
              <div class="span2">
                <label>Minimum Height</label>
                <div class="input-append">
                  <input type="number" pattern="[0-9]*" class="span1" placeholder="eg 400" ng-model="game.configuration.sizes[0].height">
                  <span class="add-on">Pixels</span>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-success">Save</button>
        <form>
      </div>
    </div>

  </div>
</div>
