<div ng-init="game = getGame(gameUuid)">
  <h1>Edit game {{gameUuid}}</h1>

  <p>
    Name:
    <input ng-model="game.name" type="text"/>
  </p>

  <p>
    Description:
    <textarea ng-model="game.description"></textarea>
  </p>

  <p>
    <input type="radio" ng-model="game.configuration.type" value="html5" ng-click="game.configuration = {type: 'html5'}"> HTML5
    <input type="radio" ng-model="game.configuration.type" value="flash" ng-click="game.configuration = {type: 'flash'}"> Flash
  </p>

  <p ng-show="game.configuration.type == 'html5'">
    Game Url:
    <input ng-model="game.configuration.url" type="text"/>
  </p>
  <p ng-show="game.configuration.type == 'flash'">
    <iframe src="/partials/games/flash/form.html?game={{gameUuid}}" class="flash-upload"></iframe>
  </p>

  <ul>
    <li ng-repeat="screenshot in game.screenshots">
      {{screenshot}} <a ng:click="game.screenshots.splice($index, 1)">(delete)</a>
    </li>
  </ul>
  <p><input ng-model="newScreenshot" type="text"> <button ng-click="game.screenshots.push(newScreenshot)" class="btn">Add Screenshot</button></p>

  <button ng-click="updateGame(game)" class="btn btn-success">Save</button>

  <h3>Developers</h3>
  <ul>
    <li ng-repeat="developer in game.developers">{{developer}} <a ng-click="removeDeveloper(gameUuid, developer)">(delete)</a></li>
  </ul>
  <p>
    <input ng-model="newDeveloper" type="text">
    <button ng-click="addDeveloper(gameUuid, newDeveloper)">Add developer</button>
  </p>
</div>

