<div ng-init="game = getGame(gameUuid)">
  <div ng-include src="'partials/games/header.html'"></div>
  <div id="masthead">
    <div class="container">
      <div class="masthead-pad">
        <div class="masthead-text">
          <h2>Friend Bar</h2>
          <p>Display custom data as badges for each player in the Friend Bar.</p>
        </div> <!-- /.masthead-text -->
      </div>
    </div> <!-- /.container -->
  </div> <!-- /#masthead -->

  <div id="content">
    <div class="container">
      <div class="row">
        <div class="span5">
          
          <p class="tip">For instance, Friend Bar badges can display each player's score, level, xp, rank or anything else you can imagine. Many developers use the Friend Bar as a social high scores table.</p>

        </div>

        <div class="span5">

          <p class="tip">Consult the <a href="#/documentation/overview">integration docs</a> to learn how to store and retrieve custom data which the Friend Bar can access.</p>
        </div>

        <div class="span12">
          <form class="form-horizontal">
              <div class="row">
                <div class="span5">
                  <div class="control-group">
                    <legend>Top Badge</legend>
                    <label class="control-label" for="inputTopValueLabel">Data Label</label>
                    <div class="controls">
                      <input ng-model="game.configuration.friendbarTopValueLabel" type="text" id="inputTopValueLabel" class="span3"/>
                      
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputTopValueKey">Data Key</label>
                    <div class="controls">
                      <input ng-model="game.configuration.friendbarTopValueKey" type="text" id="inputTopValueKey" class="span3"/>
                      <span class="help-block">As set by your game through the API</span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="inputTopValueDefault">Default Value</label>
                    <div class="controls">
                      <input ng-model="game.configuration.friendbarTopValueDefault" type="text" id="inputTopValueDefault" class="span2"/>
                      <span class="help-block">Displayed when no value has been stored for a player</span>
                    </div>
                  </div>
                </div>
              <div class="span5">
                <legend>Bottom Badge</legend>
                <div class="control-group">
                  <label class="control-label" for="inputBottomValueLabel">Data Label</label>
                  <div class="controls">
                    <input ng-model="game.configuration.friendbarBottomValueLabel" id="inputBottomValueLabel" type="text" class="span3"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputBottomValueKey">Data Key</label>
                  <div class="controls">
                    <input ng-model="game.configuration.friendbarBottomValueKey" id="inputBottomValueKey" type="text" class="span3"/>
                    <span class="help-block">As set by your game through the API</span>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputBottomValueDefault">Default Value</label>
                  <div class="controls">
                    <input ng-model="game.configuration.friendbarBottomValueDefault" type="text" id="inputBottomValueDefault" class="span2"/>
                    <span class="help-block">Displayed when no value has been stored for a player</span>
                  </div>
                </div>
              </div>
              <div class="span12">
                <hr />
                <div class="control-group">
                  <div class="controls">
                    <button ng-click="updateGame(game)" class="btn btn-success">Update Badges</button>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>
