<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text" ng-show="game.configuration.type == 'initial'">
          <h2>Getting started</h2>
          <p>in 3 easy steps</p>
        </div> <!-- /.masthead-text -->

        <div class="masthead-text" ng-hide="game.configuration.type == 'initial'">
          <h2>Dashboard</h2>
          <p>Everything you need to manage your game</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span12" ng-show="game.configuration.type == 'initial'">

          <div id="rampUp">
            <ol>
              <li>
                Upload your game: Files > <a href="/#/games/{{game.uuid}}/builds">Builds</a>
              </li>
              <li>
                Decide where you want your game to appear: Settings > <a href="/#/games/{{game.uuid}}/venues">Venues</a>
              </li>
              <li>
                All done. Ready to play!
              </li>
            </ol>
          </div>

        </div>


        <div ng-hide="game.configuration.type == 'initial'">


          <div class="span4">
            <p ng-show="game.screenshots.length > 0" class="teaserArt" style="background-image: url({{game.screenshots[0].url}});">
            </p>
            <p ng-hide="game.screenshots.length > 0" class="teaserArt">
              You have not added any Screenshots yet
            </p>
            <a href="#/games/{{game.uuid}}/screens"><i class="icon-picture"></i> Manage Media</a>
          </div>

          <div class="span4">
            <div class="titleDescription">
              <h2>{{game.name}}</h2>
              <p>{{game.description}}</p>
            </div>
            <a href="#/games/{{game.uuid}}/details"><i class="icon-wrench"></i> Edit Title or Description</a>
          </div>

          <div class="span3 offset1">
            <h2>Current Venues</h2>
            <ul class="nav nav-tabs nav-stacked">
              <li ng-repeat="venue in venues" ng-show="game.venues[venue.id].enabled && game.venues[venue.id].computed.ready">
                <a href="#">{{venue.label}}</a>
              </li>
            </ul>
            <a href="#/games/{{game.uuid}}/venues"><i class="icon-sitemap"></i> Manage Venues</a>
          </div>





        </div>

      </div>

    </div>
  </div>
</div>
