<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text" ng-show="game.configuration.type == 'initial'">
          <h2>Getting started</h2>
          <p>in 3 easy steps</p>
        </div> <!-- /.masthead-text -->

        <div class="masthead-text" ng-hide="game.configuration.type == 'initial'">
          <h2>Dashboard</h2>
          <p>Everything you need to manage your game</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row" ng-show="game.configuration.type == 'initial'">

        <div class="span12" >

          <div id="rampUp">
            <ol>
              <li>
                Upload your game: Files > <a href="/#/games/{{game.uuid}}/builds">Builds</a>
              </li>
              <li>
                Decide where you want your game to appear: Settings > <a href="/#/games/{{game.uuid}}/venues">Venues</a>
              </li>
              <li>
                All done. Ready to play!
              </li>
            </ol>
          </div>

        </div>

      </div>



      <div class="row coming-soon" ng-hide="game.configuration.type == 'initial'">


        <div class="span4">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">$320.12 <span class="plus">+4%</span></td>
                <td class="full">Revenue Today</td>
              </tr>
              <tr>
                <td class="value">32,211 <span class="minus">-2%</span></td>
                <td class="full">DAU Today</td>
              </tr>
            </tbody>
          </table>
          <p class="tip">
            $234.76 Revenue &amp; 34,311 DAU 7 days ago<br />
            Resets at 12am EST (7h 32m ago)
          </p>
        </div>

        <div class="span4">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">$4312.12</td>
                <td class="full">Current Balance</td>
              </tr>
              <tr>
                <td class="value">$233,021.24</td>
                <td class="full">Lifetime Revenue</td>
              </tr>
            </tbody>
          </table>
          <p class="tip">
            Next pay out will be on 1/1/2013<br />
            Previous pay out was $324
          </p>
        </div>

        <div class="span2 offset2">
          <p class="tip">
            For historic data and additional metrics consult the <a href="#/games/{{game.uuid}}/insights">insights section</a>.
          </p>
        </div>
        

      </div>




      <div class="row" ng-hide="game.configuration.type == 'initial'">

        <div class="span12">
          <hr />
          <h3>{{game.name}}</h3>
        </div>

        <div class="span4">
          <p ng-show="game.screenshots.length > 0" class="teaserArt" style="background-image: url({{game.screenshots[0].url}});">
          </p>
          <p ng-hide="game.screenshots.length > 0" class="teaserArt">
            No Screenshots yet. <a href="#/games/{{game.uuid}}/screens"> Add one now</a>
          </p>
        </div>

        <div class="span5">
          <p class="large">{{game.description}}</p>
          <ul class="nav nav-pills">
            <li ng-repeat="venue in venues" ng-show="game.venues[venue.id].enabled && game.venues[venue.id].computed.ready">
              <a href="{{game.uuid|canvasUrl:venue.id}}">{{venue.label}}</a>
            </li>
          </ul>
          <a href="#/games/{{game.uuid}}/details"><i class="icon-wrench"></i> Edit Title or Description</a><br />
          <a href="#/games/{{game.uuid}}/venues"><i class="icon-sitemap"></i> Manage Venues</a>
        </div>

        <div class="span2 offset1">
          <p class="tip">
            To can change these and other settings from the settings menu above.
          </p>
        </div>

        


        


      </div>


    </div>
  </div>
</div>


