<div ng-controller="GamesCtrl" ng-init="game = getGame(gameUuid)">
  <div class="row">
    <div class="span10">
      <div class="hero-unit">
        <h1>{{game.name}}</h1>
        <p>{{game.description}}</p>
      </div>
    </div>
    <div class="span2">
      <ul class="nav nav-list">
        <li class="nav-header">
          Options
        </li>
        <li><a href="#/games/{{game.uuid}}/builds"><i class="icon-chevron-right"></i> Builds</a></li>
        <li><a href="#/games/{{game.uuid}}/venues"><i class="icon-chevron-right"></i> Venues</a><li>
          <li><a href="#/games/{{game.uuid}}/developers"><i class="icon-chevron-right"></i> Developers</a><li>
        <li class="nav-header">
          Danger Zone:
        </li>
        <li><a ng-click="deleteGame(game.uuid)" ><i class="icon-warning-sign"></i> Delete</a></li>
      </ul>
    </div>

    <div class="span12">
      <form class="form-horizontal">
        <legend>Details for {{game.name}}</legend>
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input ng-model="game.name" type="text" id="inputName" placeholder="Name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputDescription">Description</label>
          <div class="controls">
            <textarea ng-model="game.description" id="inputDescription" placeholder="Description"></textarea>
          </div>
        </div>

        <button ng-click="updateGame(game)" class="btn btn-success">Save</button>
      </form>

    </div>
  </div>
</div>
