<div id="header" ng-show="loggedIn" ng-controller="HeaderController">

      <div class="container">

        <a href="#/games/{{game.uuid}}" class="brand"><i class="icon-dashboard"></i> {{game.name}}</a>

        <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <i class="icon-reorder"></i>
            </a>

        <div class="nav-collapse">
          <ul id="main-nav" class="nav pull-right">
            <li class="nav-icon" ng-class="{active: isActive('')}">
              <a href="#/games/{{game.uuid}}">
                <i class="icon-home"></i>
                <span>Overview</span>
              </a>
            </li>

            <!-- 
            <li ng-class="{active: insightsActive()}">
              <a href="#/games/{{game.uuid}}/insights">
                <i class="icon-bar-chart"></i>
                <span>Insights</span>
              </a>
            </li> 
            -->

            <li class="dropdown" ng-class="{active: filesActive()}">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cloud"></i>
                <span>Files</span>
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li ng-class="{active: isActive('builds')}">
                  <a href="#/games/{{game.uuid}}/builds">
                    <i class="icon-upload-alt"></i>
                    <span>Builds</span>
                  </a>
                </li>
                <li ng-class="{active: isActive('screens')}">
                  <a href="#/games/{{game.uuid}}/screens">
                    <i class="icon-picture"></i>
                    <span>Media</span>
                  </a>
                </li>
              </ul>
            </li>


            <li class="dropdown" ng-class="{active: settingsActive()}">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cogs"></i>
                <span>Settings</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-class="{active: isActive('details')}">
                  <a href="#/games/{{game.uuid}}/details">
                    <i class="icon-pencil"></i>
                    <span>Name, Description etc...</span>
                  </a>
                </li>
                <li ng-class="{active: isActive('dimensions')}">
                  <a href="#/games/{{game.uuid}}/dimensions">
                    <i class="icon-fullscreen"></i>
                    <span>Dimensions</span>
                  </a>
                </li>
                <li ng-class="{active: isActive('friendbar')}">
                  <a href="#/games/{{game.uuid}}/friendbar">
                    <i class="icon-heart"></i>
                    <span>Friend Bar</span>
                  </a>
                </li>
                <li ng-class="{active: isActive('venues')}">
                  <a href="#/games/{{game.uuid}}/venues">
                    <i class="icon-sitemap"></i>
                    <span>Venues</span>
                  </a>
                </li>
                <!-- 
                <li ng-class="{active: isActive('developers')}">
                  <a href="#/games/{{game.uuid}}/developers">
                    <i class="icon-group"></i>
                    <span>Team</span>
                  </a>
                </li>
                -->
                <li class="divider"></li>
                <li class="">
                  <a ng-click="deleteGame(game.uuid)">
                    <i class="icon-trash"></i>
                    <span>Delete {{game.name}}</span>
                  </a>
                </li>
              </ul>
            </li>


          </ul>

        </div> <!-- /.nav-collapse -->

      </div> <!-- /.container -->

    </div> <!-- /#header -->