<div id="header" ng-show="loggedIn" ng-controller="HeaderController">

      <div class="container">

        <a href="#/games/{{game.uuid}}" class="brand"><i class="icon-dashboard"></i> {{game.name}}
          <game-premium-badge game="game"/>
        </a>

        <a href="javascript:;" class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <i class="icon-reorder"></i>
            </a>

        <div class="nav-collapse">
          <ul id="main-nav" class="nav pull-right">
            <li class="nav-icon" ng-class="{active: isActive('')}">
              <a href="#/games/{{game.uuid}}">
                <i class="icon-home"></i>
                <span>Overview</span>
              </a>
            </li>

            <!--
            <li ng-class="{active: insightsActive()}">
              <a href="#/games/{{game.uuid}}/insights">
                <i class="icon-bar-chart"></i>
                <span>Insights</span>
              </a>
            </li>
            -->

            <!--
            <li ng-class="{active: isActive('screens')}">
              <a href="#/games/{{game.uuid}}/screens">
                <i class="icon-picture"></i>
                <span>Media</span>
              </a>
            </li>
            -->

            <li ng-class="{active: isActive('details')}">
              <a href="#/games/{{game.uuid}}/details">
                <i class="icon-pencil"></i>
                <span>Details</span>
              </a>
            </li>
            <li ng-class="{active: isActive('dimensions')}">
              <a href="#/games/{{game.uuid}}/dimensions">
                <i class="icon-fullscreen"></i>
                <span>Dimensions</span>
              </a>
            </li>
            <li ng-class="{active: isActive('friendbar')}">
              <a href="#/games/{{game.uuid}}/friendbar">
                <i class="icon-heart"></i>
                <span>Friend Bar</span>
              </a>
            </li>
            <li ng-class="{active: isActive('venues')}">
              <a href="#/games/{{game.uuid}}/venues">
                <i class="icon-sitemap"></i>
                <span>Venues</span>
              </a>
            </li>

            <li ng-class="{active: isActive('builds')}">
              <a href="#/games/{{game.uuid}}/builds">
                <i class="icon-upload-alt"></i>
                <span>Builds</span>
              </a>
            </li>

            <li ng-class="{active: isActive('preview')}">
              <a href="#/games/{{game.uuid}}/preview">
                <i class="icon-eye-open"></i>
                <span>Preview</span>
              </a>
            </li>
            <!--
            <li ng-class="{active: isActive('developers')}">
              <a href="#/games/{{game.uuid}}/developers">
                <i class="icon-group"></i>
                <span>Team</span>
              </a>
            </li>
            -->

            <!--
            <li class="">
              <a ng-click="deleteGame(game.uuid)">
                <i class="icon-trash"></i>
                <span>Delete {{game.name}}</span>
              </a>
            </li>

            -->

          </ul>

        </div> <!-- /.nav-collapse -->

      </div> <!-- /.container -->

    </div> <!-- /#header -->