<div ng-init="getGames()">

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Welcome to Friendbar.us</h2>
          <p>Manage your applications.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span4">

          <ul class="nav nav-tabs nav-stacked">
            <li class="loadingGames" ng-hide="games">
              <img src="../img/loadingbar.gif" width="220" height="19" /><br />
              Loading applications
            </li>
            <li ng-repeat="game in games | orderBy:'name'" >
              <a href="#/games/{{game.uuid}}"><i class="icon-dashboard"></i> {{game.name}} <game-premium-badge game="game"/></a>
            </li>
          </ul>

          <a href="#/games/new" class="btn" ng-show="games">Add a new application...</a>

        </div>

        <div class="span3 offset1">
          <p>You can <a href="#/games/new">add as many applications</a> to Friendbar.us as you like.</p>
          <p><a href="http://blog.quarterspiral.com/" target="new">Visit our blog for news and updates</a>. We are working on additional features!</p>
        </div>
        <div class="span3">
          <p><strong>Tip:</strong> If you have more than one application you can use the menu at the top to quickly and easily switch between them.</p>
        </div>

      </div>

    </div>
  </div>
</div>
