<div ng-controller="GamesCtrl" ng-init="getGames()">

  <div class="row">

    <div class="span9">

      <div class="hero-unit">
        
        <h1>Dashboard</h1>

        <p>Manage away!</p>

      </div>

    </div>

    <div class="span3">


      <h2>Your Games</h2>
      <ul class="nav nav-tabs nav-stacked">
        <li ng-repeat="game in games">
          <a href="#/games/{{game.uuid}}">{{game.name}}</a>
        </li>
      </ul>

      <a href="#/games/new" class="btn">Add a new game...</a>

    </div>

  </div>

</div>
