<div ng-init="getGames()">

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Welcome to Friendbar.us</h2>
          <p>Manage your applications.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span6">

          <ul class="nav nav-tabs nav-stacked">
            <li class="loadingGames" ng-hide="games">
              <img src="../img/loadingbar.gif" width="220" height="19" /><br />
              Loading applications
            </li>
            <li ng-repeat="game in games | orderBy:'name'" >
              <a href="#/games/{{game.uuid}}"><i class="icon-dashboard"></i> {{game.name}} <game-premium-badge game="game"/></a>
            </li>
          </ul>

          <a href="#/games/new" class="btn" ng-show="games">Add a new application...</a>

        </div>

      </div>

    </div>
  </div>
</div>
