<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">

    <div class="container">

      <div class="masthead-pad">

        <div class="masthead-text">
          <h2>Insights</h2>
          <p>These are not real yet. Real data is coming soon...</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container coming-soon">

      <div class="row">

        <div class="span12">

          <ul class="nav nav-pills pull-right">
            <li>
              <a href="#LifeTimeValue">Life Time Value</a>
            </li>
            <li>
              <a href="#NewPlayerFunnel">New Player Funnel</a>
            </li>
            <li>
              <a href="#PlayerRetention">Retention</a>
            </li>
            <li>
              <a href="#PlayerLoss">Player Loss</a>
            </li>
            <li>
              <a href="#PlayerEngagement">Engagement</a>
            </li>
            <li>
              <a href="#PlayerSpend<">Player Spend</a>
            </li>

          </ul>

          
        </div>

      </div>

      <!-- Life time Value -->

      <div class="row">

        <div class="span12">          
          <h2 id="LifeTimeValue">Life Time Value</h2>
          <hr />
        </div>



        

        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">$2.12</td>
                <td class="full">Lifetime Player Value</td>
              </tr>
              <tr>
                <td class="value">9 Days</td>
                <td class="full">Average Player Life</td>
              </tr>
            </tbody>
          </table>
          <p>LTV is a measure of the average value an individual player brings in over his lifetime in the game.</p>
          <p>If a player has not opened the game in 7 days they are considered inactive. If an inactive player returns, it  counts as a reactivation and will not appear here.</p>
        </div>

        <div class="span7">
          
          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>




      <!-- New Player Funnel -->

      <div class="row">

        <div class="span12">          
          <h2 id="NewPlayerFunnel">New Player Funnel</h2>
          <hr />
        </div>

        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">10%</td>
                <td class="full">Success Rate</td>
              </tr>
              <tr>
                <td class="value">70%</td>
                <td class="full">Game Loaded</td>
              </tr>
              <tr>
                <td class="value">10%</td>
                <td class="full">1 Minute</td>
              </tr>
              <tr>
                <td class="value">5%</td>
                <td class="full">5 Minutes</td>
              </tr>
            </tbody>
          </table>
          <p>The new user funnel is critical to understand how well a game turns installs into players.</p>
          <p>Settig up customs events (e.g. Game Started, Level 2, etc...) can provide more valuable insights here.</p>
        </div>

        <div class="span7">
          
          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>




      <!-- Player Retention -->

      <div class="row">

        <div class="span12">          
          <h2 id="PlayerRetention">Player Retention</h2>
          <hr />
        </div>

        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">30%</td>
                <td class="full">2nd Day Retention</td>
              </tr>
              <tr>
                <td class="value">10%</td>
                <td class="full">2nd Week Retention (Newbies)</td>
              </tr>
              <tr>
                <td class="value">2%</td>
                <td class="full">Week 5 Retention (Verterans)</td>
              </tr>
            </tbody>
          </table>
          <p>Player retention tells you how long players stick around. Stickier games create more value and can organically attrackt more players.</p>
        </div>

        <div class="span7">
          
          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>




      <!-- Player Loss -->

      <div class="row">

        <div class="span12">          
          <h2 id="PlayerLoss">Player Loss</h2>
          <hr />
        </div>

        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">7,200</td>
                <td class="full">Daily Deactivations</td>
              </tr>
              <tr>
                <td class="value">30%</td>
                <td class="full">Event: Event Name</td>
              </tr>
              <tr>
                <td class="value">20%</td>
                <td class="full">Event: Event Name</td>
              </tr>
            </tbody>
          </table>
          <p>We record what a player did before becoming inactive. This can help you understand where/why your players drop out so you can improve your game.</p>
          <p>This requires custom events to work but can provide critical insights to guide your efforts.</p>
        </div>

        <div class="span7">
          
          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>







      <!-- Player Engagement -->

      <div class="row">

        <div class="span12">
          <h2 id="PlayerEngagement">Player Engagement</h2>
          <hr />
        </div>


        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">25,000</td>
                <td class="full">Daily Active Users (DAU)</td>
              </tr>
              <tr>
                <td class="value">40,000</td>
                <td class="full">Weekly Active Users (WAU)</td>
              </tr>
              <tr>
                <td class="value">140,000</td>
                <td class="full">Monthly Active Users (MAU)</td>
              </tr>
              <tr>
                <td class="value">7,000</td>
                <td class="full">Daily Deactivations</td>
              </tr>
            </tbody>
          </table>
          <p>If a player has not opened the game in 7 days it is considered a deactivation.</p>
        </div>

        <div class="span7">

          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>





      <!-- Player Spend -->

      <div class="row">

        <div class="span12">
          <h2 id="PlayerSpend">Player Spend</h2>
          <hr />
        </div>


        <div class="span3">
          <table class="table stat-table">
            <tbody>
              <tr>
                <td class="value">$0.05</td>
                <td class="full">ARPU</td>
              </tr>
              <tr>
                <td class="value">$2.00</td>
                <td class="full">ARPPU</td>
              </tr>
              <tr>
                <td class="value">5%</td>
                <td class="full">Paying User Percentage</td>
              </tr>
            </tbody>
          </table>
          <p>If a player has not opened the game in 7 days it is considered a deactivation.</p>
        </div>

        <div class="span7">

          <form class="form-inline">
            <select class="span2">
              <option>All</option>
              <option>Cohort 1</option>
            </select>
            <input type="text" placeholder="Start Date" class="span2"> <input type="text" placeholder="End Date" class="span2">
          </form>
          
          <p class="graph"></p>
          <p>Legend goes here</p>
        </div>

        <div class="span2">
          <h3>Other Games</h3>
          <p class="mini-graph"></p>
        </div>

        <div class="span2">
          <h3>Other RPGs</h3>
          <p class="mini-graph"></p>
        </div>

      </div>


    </div>
  </div>
</div>
