<div class="row">

  <div class="span12">
    <ul class="breadcrumb">
        <li>
          <a href="#/games">Dashboard</a> <span class="divider">/</span>
        </li>
        <li>
        <li class="active">Set up a new Game</li>
      </ul>

  </div>

  <div class="span6 offset3">

    <div ng-controller="GamesCtrl" ng-init="game = {configuration: {type: 'initial'}}">
      <form class="form-horizontal">
        <legend>Add a game</legend>
        <div class="control-group">
          <label class="control-label" for="inputName">Name</label>
          <div class="controls">
            <input ng-model="game.name" type="text" id="inputName" placeholder="Name">
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputDescription">Description</label>
          <div class="controls">
            <textarea ng-model="game.description" id="inputDescription" placeholder="Description"></textarea>
          </div>
        </div>
        <button ng-click="addGame(game)" class="btn btn-success">Save</button>
        <a href="#/games" class="btn">Cancel</a>
      </form>
    </div>
  </div>
</div>