<div ng-controller="GamesCtrl" ng-init="game = {configuration: {type: 'initial'}}">
  <form class="form-horizontal">
    <legend>Add a game</legend>
    <div class="control-group">
      <label class="control-label" for="inputName">Name</label>
      <div class="controls">
        <input ng-model="game.name" type="text" id="inputName" placeholder="Name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputDescription">Description</label>
      <div class="controls">
        <textarea ng-model="game.description" id="inputDescription" placeholder="Description"></textarea>
      </div>
    </div>
    <button ng-click="addGame(game)" class="btn btn-success">Save</button>
  </form>
</div>
