<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">
    <div class="container">

      <div class="masthead-pad">
        <div class="masthead-text">
          <h2>Preview</h2>
          <p>This is how your application will look like when embedded.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span12" id="preview">

          <div ng-bind-html-unsafe="game.venues.embedded.computed.code" ng-show="game.venues.embedded.computed.code">
          </div>
          <div ng-hide="game.venues.embedded.computed.code" class="warning">
            <p>The preview requires embeds to work.</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
