<div ng-init="game = getGame(gameUuid)">

  <div ng-include src="'partials/games/header.html'"></div>

  <div id="masthead">
    <div class="container">

      <div class="masthead-pad">
        <div class="masthead-text">
          <h2>Preview your Application</h2>
          <p>This is how your application will look like when embedded.</p>
        </div> <!-- /.masthead-text -->

      </div>

    </div> <!-- /.container -->

  </div> <!-- /#masthead -->




  <div id="content">

    <div class="container">

      <div class="row">

        <div class="span12" id="preview">
          <div ng-show="game.venues.embedded.computed.code">
            <div ng-bind-html-unsafe="game.venues.embedded.computed.code">
            </div>
            <p class="tip">
              <br />
              You can adjust the dimensions of the default embed <a href="#/games/{{game.uuid}}/builds">here</a>.
            </p>
          </div>
          <div ng-hide="game.venues.embedded.computed.code" class="warning">
            <p>Please <a href="#/games/{{game.uuid}}/venues">turn embedding on</a> to use the preview feature.</p>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
