<div ng-controller="GamesCtrl" ng-init="game = getGame(gameUuid)">
  <div class="row">
    <div class="span12">
      <ul class="breadcrumb">
        <li>
          <a href="#/games/{{game.uuid}}">{{game.name}}</a> <span class="divider">/</span>
        </li>
        <li class="active">Venues</li>
      </ul>
    </div>

    <div class="span8">

      <!-- Venue item -->

      <h2>Your active Venues</h2>

      <div class="row" ng-repeat="venue in venues">

        <div class="span8 venue" ng-show="game.venues[venue.id]">
          <div class="row">
            <div class="span6">
                <div class="box">
                    <h3>{{venue.label}}</h3>
                    <p class="description">Description for this venue</p>
                    <!--
                      <ul>
                            <li>Show of details or features</li>
                            <li>Various tags</li>
                      </ul>
                    -->
                    <div class=" status">
                        <p>All is dandy on {{venue.label}}</p>
                        <!--
                        <p class="warning">Not Configured!</p>
                        <p class="danger">Temporarily closed!</p>
                        -->
                    </div>
                </div>
            </div>
            <div class="span2">
              <ul class="options">
                  <li><a class="" href="<%= ENV['QS_CANVAS_APP_URL'] %>/v1/games/{{game.uuid}}/{{venue.id}}"><i class="icon-eye-open"></i> Play</a></li>
                  <li><a ng-click="disableVenue(game, venue.id)" id="inputChangeVenue{{venue.id | uppercase}}"><i class="icon-remove"></i> Disable</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>

      <!--  /venue item -->


    </div>

    <div class="span4">
      <h2>Other available Venues</h2>
      <div id="inactiveVenues">
        
        <ul class="networkPreview">
          <li ng-repeat="venue in venues" ng-hide="game.venues[venue.id]" class="">
                <span class="title">{{venue.label}}</span>
                <p class="description">Description for this venue</p>
                <a ng-click="enableVenue(game, venue.id)" id="inputChangeVenue{{venue.id | uppercase}" class="btn btn-success"><i class="icon-plus icon-white"></i> Add {{venue.label}}</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
