<div ng-controller="GamesCtrl" ng-init="game = getGame(gameUuid)">
  <div class="row">
    <div class="span12">
      <ul class="breadcrumb">
        <li>
          <a href="#/games">Dashboard</a> <span class="divider">/</span>
        </li>
        <li>
          <a href="#/games/{{game.uuid}}">{{game.name}}</a> <span class="divider">/</span>
        </li>
        <li>
        <li class="active">Venues</li>
      </ul>
    </div>
    <div class="span10">
      <div class="hero-unit">
        <h1>Venues</h1>
        <p>Add more venues to {{game.name}} for more audience. Simple.</p>
      </div>
    </div>
    <div class="span2">

    </div>

    <div class="span12">

      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="inputChangeVenueFacebook">Facebook</label>
          <div class="controls">
            <div ng-show="game.venues.facebook">
              <button class="btn btn-danger" ng-click="disableVenue(game, 'facebook')" id="inputChangeVenueFacebook">Turn off</button>
            </div>
            <div ng-hide="game.venues.facebook">
              <button class="btn btn-success" ng-click="enableVenue(game, 'facebook')" id="inputChangeVenueFacebook">Turn on</button>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputChangeVenueGalaxySpiral">Galaxy Spiral</label>
          <div class="controls">
            <div ng-show="game.venues['galaxy-spiral']">
              <button class="btn btn-danger" ng-click="disableVenue(game, 'galaxy-spiral')" id="inputChangeVenueGalaxySpiral">Turn off</button> <a class="btn btn-primary" href="<%= ENV['QS_CANVAS_APP_URL'] %>/v1/games/{{game.uuid}}">play</a>
            </div>
            <div ng-hide="game.venues['galaxy-spiral']">
              <button class="btn btn-success" ng-click="enableVenue(game, 'galaxy-spiral')" id="inputChangeVenueGalaxySpiral">Turn on</button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
