<div id="content">

  <div class="container">
    <div class="row">

      <div class="span12">
        <div class="hero-unit stars">
          <h1>Mission Kontrol</h1>    
          <p>Welcome to <a href="http://quarterspiral.com">Quarter Spiral</a>'s DIY publishing service for online, social and mobile games.</p>
        </div>
      </div>
      <div class="span9 offset3">
        <h2>For Game Developers</h2>
      </div>
      <div class="span2 alpha offset1">
        <p>Mission Kontrol is currently in an invite only alpha!</p>
      </div>
      <div class="span6 large">
        
        <p>No negotiation, no compromise on your vision. Just a powerful set of tools to connect you to the players who will love your game. Mission Kontrol will help you find more players and make more money.</p>

        <p>Contact us at <a href="http://quarterspiral.com">Quarter Spiral</a> if you have a game you wish to submit during this exclusive preview window or request an invite below. If you already have an account or have received an invitation key you can <a href="/auth/auth_backend">log in here</a>.</p>

        <p><a href="http://soon.quarterspiral.com" class="btn btn-large btn-primary" target="new">Request your Invite</a></p>
        <hr />

        <p><a href="https://twitter.com/quarterspiral" target="new">Follow us on Twitter</a> or <a href="http://blog.quarterspiral.com" target="new">subscribe to our blog</a> for the latest.</p>
      </div>
    </div>

  </div>
</div>

