<div ng-controller="FrontpageCtrl">

  <div class="big-banner stars">

    <h1>Friendbar.us</h1>
    <p>Put friends on anything, anywhere.</p>

  </div>

  <div id="content">

    <div id="features">
      <div class="container">

        <div class="row">

          <div class="span4">
            <div class="feature">
            <h2>Add a Friend Bar to your App</h2>
            <p>Just sign up and add a fully featured Friendbar to any App. In minutes.</p>
            </div>
      	  </div>

          <div class="span4">
            <div class="feature">
            <h2>Embed your App anywhere</h2>
            <p>We make your  HTML, HTML5 or Flash App embeddable. Just like a youTube Video.</p>
            </div>
          </div>

          <div class="span4">
            <div class="feature">
            <h2>Deploy your App to Facebook</h2>
            <p>Put your App on Facebook today. No coding required.</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="span4 offset2">
            <div class="feature">
            <h2>Store your App data in the cloud</h2>
            <p>Quick, easy and secure data storage. You can map the data to readouts on the friendbar, too.</p>
            </div>
          </div>

          <div class="span4">
            <div class="feature">
            <h2>Hosting is included</h2>
            <p>Upload your app once and we deliver it anywhere.</p>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="span4 offset4">
            <hr />
            <div class="feature" id="signUp">
              <p><a class="btn btn-large btn-success">Sign Up. It is free.</a></p>
              <p><a href="#pricing">Why is this free?</a><p>
            </div>
          </div>

        

        </div>

      </div>
    </div>


    <div id="why">

      <div class="container">

         <div class="row">

          <div class="span12">
            <h1>Why Friendbar.us</h1>
            <p>Friendbar.us uses a subset of the <a href="http://quarterspiral.com" target="new">Quarter Spiral</a> infrastructure.<br />It was a no brainer to package it up so you can use it, too.</p>
          </div>

        </div>

      </div>

    </div>


    <div class="container">

      <div class="row" id="pricing">

        <div class="span8 offset2">
          <h1>Pricing</h1>
        </div>

        <div class="span4 offset2">
          <div class="plan">
            <h2>Free Mode</h2>
            <p>Ad supported. You pay nothing. 20GB of bandwidth are included. You can remove all ads with a monthly subscription</p>
          </div>
        </div>

        <div class="span4">
          <div class="plan">
            <h2>Optional Subscription</h2>
            <p>Make your App front and center by removing our ads for a low monthly fee. You can cancel at any time. 20GB of bandwidth are included.<p>
          </div>
        </div>

        <div class="span8 offset2 more">
          <h2>Need More?</h2>
          <p>Contact us. We are flexible. You might also wnat to look at some of our <a href="http://quarterspiral.com" target="new">other Products</a>.</p>
        </div>

        <div class="span4 offset4">
          <hr />
          <div class="feature" id="signUp">
            <p><a class="btn btn-large btn-success">Sign Up</a></p>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>