<div id="big-banner">

  <div class="container">

      <div class="row">

        <div class="span6 offset3">

          <h1>Friendbar.us</h1>

          <hr />

        </div>

    </div>

  </div>

  <div id="illu">
      <img src="img/freindbar-us-illustration.png" />
  </div>

  <div class="signUp">

    <div class="container">

      <div class="row">

        <div class="span12">
          <p><span>It only takes minutes to add friends to your App.</span> <a href="/auth/auth_backend" class="btn btn-large btn-primary">Sign Up for free.</a></p>
        </div>

      </div>

    </div>

  </div>

</div>

<div id="content">

  <div id="features">

    <div class="container">

      <div class="row">

        <div class="span4">
          <div class="feature">
          <h3>Add a Friend Bar to your App</h3>
          <p>Just sign up and add a fully featured Friendbar to any App. In minutes.</p>
          </div>
    	  </div>

        <div class="span4">
          <div class="feature">
          <h3>Embed your App anywhere</h3>
          <p>We make your  HTML, HTML5 or Flash App embeddable. Just like a youTube Video.</p>
          </div>
        </div>

        <div class="span4">
          <div class="feature">
          <h3>Deploy your App to Facebook</h3>
          <p>Put your App on Facebook today. No coding required.</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="span4 offset2">
          <div class="feature">
          <h3>Store your App data in the cloud</h3>
          <p>Quick, easy and secure data storage. You can map the data to readouts on the friendbar, too.</p>
          </div>
        </div>

        <div class="span4">
          <div class="feature">
          <h3>Hosting is included</h3>
          <p>Upload your app once and we deliver it anywhere.</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="span4 offset4">
          
          <div class="feature signUp">
            <hr />
            <p><a href="/auth/auth_backend" class="btn btn-large btn-primary">Sign Up. It is free.</a></p>
            <p><a href="#/why">How can this be free?</a><p>
          </div>
        </div>

      

      </div>

    </div>
  </div>


  <div id="why">

    <div class="container">

       <div class="row">

        <div class="span8 offset2">
          <h2>Why Friendbar.us</h2>
          <p><a href="http://quarterspiral.com" target="new">Friendbar.us uses a subset of the Quarter Spiral infrastructure.<br/>Check out our other products and services for web and mobile.</a></p>
        </div>

      </div>

    </div>

  </div>


  <div class="container">

    <div class="row" id="pricing">

      <div class="span8 offset2">
        <h2>Pricing</h2>
      </div>

      <div class="span4 offset2">
        <div class="plan">
          <h3>Free Mode</h3>
          <p>Ad supported. You pay nothing. 20GB of bandwidth are included. You can remove all ads with a monthly subscription</p>
        </div>
      </div>

      <div class="span4">
        <div class="plan">
          <h3>Optional Subscription</h3>
          <p>Make your App front and center by removing our ads for a low monthly fee. You can cancel at any time. 20GB of bandwidth are included.<p>
        </div>
      </div>

      <div class="span8 offset2 more">
        <h3>Need More?</h3>
        <p>Contact us. We are flexible. You might also want to look at some of our <a href="http://quarterspiral.com" target="new">other products</a>.</p>
      </div>

      <div class="span4 offset4">
        <hr />
        <div class="feature signUp">
          <p><a href="/auth/auth_backend" class="btn btn-large btn-primary"><strong>Sign Up. It is free.</strong><br />No strings attached.</a></p>
        </div>
      </div>

    </div>

  </div>

</div>