<!doctype html>
<html lang="en" ng-app="devcenterTest">
<head>
  <meta charset="utf-8">
  <title>Upload SWF</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body class="iframe">

<%= S3BrowserForm.new(request).to_html %>

</body>
</html>
