<!doctype html>
<html lang="en" ng-app="devcenterTest">
<head>
  <meta charset="utf-8">
  <title>Mission Kontrol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/app.css"/>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="stylesheet" href="css/font-awesome.css">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">

  <link rel="stylesheet" href="./css/ui-lightness/jquery-ui-1.8.21.custom.css">

  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="css/pages/dashboard.css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>
<body>

  <div id="wrapper">


    <div id="topbar">

      <div class="container">

        <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
          <i class="icon-cog"></i>
        </a>

        <div id="top-nav">

          <ul ng-Controller="NavigationCtrl">
            <li ng-repeat="navigation in navigations">
                <a href="{{navigation.href}}"><i class="icon-th-list"></i> Mission Kontrol</a>
            </li>
            <li class="dropdown" ng-show="loggedIn">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                Select Game
                <b class="caret"></b>
              </a>

              <ul ng-controller="GamesCtrl" class="dropdown-menu pull-right" >
                <div  ng-init="getGames()">
                  <li ng-repeat="game in games | orderBy:'name'" >
                    <a href="#/games/{{game.uuid}}"><i class="icon-dashboard"></i> {{game.name}}</a>
                  </li>
                </div>
                <li class="divider" ng-show="games.length > 0"></li>
                <li ng-show="loggedIn"><a href="#/games/new"><i class="icon-plus-sign"></i> Add a new game</a></li>
              </ul>
            </li>
          </ul>

          <ul class="pull-right">
            <li ng-show="loggedIn"><a href="javascript:;"><i class="icon-user"></i> Logged in as {{currentUser.name}}</a></li>
            <li ng-controller="UserCtrl" ng-show="loggedIn"><a ng-click="logout()" style=""><i class=" icon-signout"></i> Log out</a></li>
            <li ng-hide="loggedIn"><a href="/auth/auth_backend" style=""><i class=" icon-signin"></i> Log in</a></li>
          </ul>

        </div> <!-- /#top-nav -->

      </div> <!-- /.container -->

    </div> <!-- /#topbar -->


    <div ng-view></div>


  </div>

  <div id="footer">

    <div class="container">

      <div class="row">

        <div class="span3">

          <ul>
            <li>Mission Kontrol is a <a href="http://quarterspiral.com">Quarter Spiral</a> service.</li>
            <li>&copy; 2012 Quarter Spiral</li>
          </ul>

        </div>



        <div class="span3">

          <ul>
            <li>Build with Twitter's <a href="http://twitter.github.com/bootstrap/index.html" target="new">Bootstrap</a></li>
            <li>Using the excellent <a href="http://glyphicons.com" target="new">Glyphicons</a></li>
          </ul>

        </div>

        <div class="span2">


          <ul class="links">
            <li><a href="http://blog.quarterspiral.com" target="new">Tumblr</a></li>
            <li><a href="http://www.twitter.com/quarterspiral" target="new">Twitter</a></li>
            <li><a href="http://www.facebook.com/pages/Quarter-Spiral/478788575475075">Facebook</a></li>
            <li><a href="https://plus.google.com/u/0/b/115985724291808650340/115985724291808650340/posts">Google+</a></li>
          </ul>

        </div>

        <div class="span4">
          <a href="http://quarterspiral.com"><img src="img/QS-logo.png" /></a>
        </div>

      </div>

    </div>
  </div>


  <!-- Load Environment Variables-->
  <script src="js/envs.js"></script>

  <!-- Load Angular App -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Adds the Filepicker.io javascript library to the page -->
  <script src="https://api.filepicker.io/v1/filepicker.js"></script>
  <script src="js/filepicker.js"></script>

  <script src="lib/misc/jquery-1.8.0.js"></script>
  <script src="js/libs/bootstrap.js"></script>
  <script src="lib/misc/porthole.min.js"></script>

  <script src="js/libs/modernizr-2.5.3.min.js"></script>

  <script src="js/libs/flotr2.min.js"></script>





  <script type="text/javascript">


  function generic_graph(element, data, parameters) {

    container = document.getElementById(element);

    Flotr.draw(container, data, parameters);

  }





  function ltvGraph() {

    // LTV graph insights.html

    var 
      element = "ltv-graph",
      d1 = [],
      i,
      point,
      parameters;

    // set up fake data

    for (i = 0; i < 30; i++) {

      point = [i, Math.random()*0.1+2-i*0.005];

      d1.push(point);
          
    };

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: '$US'
        },
        xaxis: {
          showLabels: true,
          title: 'Time',
          tickDecimals: 0
        },
        grid: {
          verticalLines: false,
          horizontalLines: true,
          outlineWidth: 1,
          outline: 'sw'
        }
      }


    // render graph

    generic_graph(element, [{data:d1, label:"LTV"}], parameters);

  }




  function retentionGraph() {
  

    // Retention graph insights.html

    var 
      element = "retention-graph",
      d1 = [],
      d2 = [],
      d3 = [],
      i,
      point,
      parameters;

    // set up fake data

    for (i = 0; i < 30; i++) {

      point = [i, Math.random()*2+12];
      d1.push(point);
      point = [i, Math.random()*0.5+5+i*0.04];
      d2.push(point);
      point = [i, Math.random()*0.2+3];
      d3.push(point);
          
    };

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: 'Percentage'
        },
        xaxis: {
          showLabels: true,
          title: 'Time',
          tickDecimals: 0
        },
        grid: {
          verticalLines: false,
          horizontalLines: true,
          outlineWidth: 1,
          outline: 'sw'
        }
      }


    // render graph

    generic_graph(element,[{data:d1,label:"Day 2 Retention"},{data:d2,label:"Week 2 Retention"},{data:d3,label:"Month 2 Retention"}], parameters);

  }




  function engagementGraph() {
  

    // Engagment graph insights.html

    var 
      element = "dau-graph",
      d1 = [],
      d2 = [],
      d3 = [],
      d4 = [],
      i,
      point,
      parameters;

    // set up fake data

    for (i = 0; i < 30; i++) {

      point = [i, Math.random()*1000+6000+i*200];
      d1.push(point);
      point = [i, Math.random()*2000+20000+i*500];
      d2.push(point);
      point = [i, Math.random()*3000+30000+i*1000];
      d3.push(point);
      point = [i, Math.random()*500+3000-i*50];
      d4.push(point);
          
    };

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: 'Players'
        },
        xaxis: {
          showLabels: true,
          title: 'Time',
          tickDecimals: 0
        },
        grid: {
          verticalLines: false,
          horizontalLines: true,
          outlineWidth: 1,
          outline: 'sw'
        }
      }


    // render graph

    generic_graph(element,[{data:d1,label:"DAU"},{data:d2,label:"WAU"},{data:d3,label:"MAU"},{data:d4,label:"Deactivations"}], parameters);

  }




  function spendGraph() {

    // Spend graph insights.html

    var 
      element = "spend-graph",
      d1 = [],
      d2 = [],
      i,
      point,
      parameters;

    // set up fake data

    for (i = 0; i < 30; i++) {

      point = [i, Math.random()*0.02+0.02];
      d1.push(point);
      point = [i, Math.random()*0.05+i*0.01];
      d2.push(point);
    };

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: '$US',
          tickDecimals: 3
        },
        y2axis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: 'Percentage',
          tickDecimals: 2
        },
        xaxis: {
          showLabels: true,
          title: 'Time',
          tickDecimals: 0
        },
        grid: {
          verticalLines: false,
          horizontalLines: true,
          outlineWidth: 1,
          outline: 'swe'

        }
      }


    // render graph

    generic_graph(element,[{data:d1,label:"ARPU"},{data:d2,label:"Payer Percentage",yaxis:2}], parameters);

  }






  function comparisonGraphs() {

    // Mini grpahs in insights.html

    var 
      d1 = [],
      xticks = [],
      i,
      point,
      parameters;

    // set up fake data

    for (i = 0; i < 11; i=i+0.5) {
      point = [i, 25-((i-5)*(i-5))];
      d1.push(point);
    };


    for (i = 1; i < 11; i++) {

      // graph paramentes

      xticks = [
        [Math.random()*7+2, "Your Game"]
        ];

      parameters = {
          HtmlText: false,
          legend:{
            position:'sw'
          },
          mouse: {
            track: true,
            relative: true
          },
          yaxis: {
            min: 0,
            max: 27,
            autoscaleMargin: 1,
            showLabels: false,
            title: '',
            tickDecimals: 3
          },
          xaxis: {
            showLabels: true,
            title: false,
            ticks: xticks,
            color: '#000000',
            outline: 2
          },
          grid: {
            verticalLines: true,
            horizontalLines: false,
            outlineWidth: 1,
            outline: 'sw'

          }
        }


      // render graphs

      generic_graph("comparison-graph"+i,[{data:d1}], parameters);

    };



  }







  function funnelGraph() {

    // Funnel graph insights.html

    var 
      element = "funnel-graph",
      newTotal = [],
      playerLoss = [],
      xticks = [],
      parameters;

    // set up fake data

    newTotal = [[0,100],[1,80],[2,40],[3,10]];
    playerLoss = [[0,0],[1,20],[2,40],[3,30]];

    xticks = [
    [0, "first load start"],
    [1, "first load complete"],
    [2, "1 minute gameplay"],
    [3, "5 minute gameplay"]
    ];

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        bars : {
          show : true,
          stacked: true,
          horizontal : false,
          shadowSize : 4,
          barWidth : 0.8,
          lineWidth: 0
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          title: 'Percentage',
          tickDecimals:0
        },
        xaxis: {
          min : 0,
          showLabels: true,
          ticks: xticks,
          title: 'Last recorded event'
        },
        grid: {
          verticalLines: false,
          horizontalLines: true,
          outlineWidth: 1,
          outline: 'sw'
        }
      }


    // render graph

    generic_graph(element,[{data:newTotal,label:"Retention"}, {data:playerLoss,label:"Player loss"}], parameters);

  }




  function playerLossGraph() {

    // player Loss graph insights.html

    var 
      element = "loss-graph",
      playerLoss = [],
      yticks = [],
      parameters;

    // set up fake data

    playerLoss = [[10,0],[23,1],[25,2],[60,3]];

    yticks = [
    [0, "Event 1"],
    [1, "Event 2"],
    [2, "Event 3"],
    [3, "Event 4"]
    ];

    // graph paramentes

    parameters = {
        HtmlText: false,
        legend:{
          position:'sw'
        },
        bars : {
          show : true,
          stacked: true,
          horizontal : true,
          shadowSize : 4,
          barWidth : 0.8,
          lineWidth: 0
        },
        mouse: {
          track: true,
          relative: true
        },
        yaxis: {
          min: 0,
          autoscaleMargin: 1,
          showLabels: true,
          ticks: yticks,
          title: 'Events'
        },
        xaxis: {
          min : 0,
          showLabels: true,
          title: 'Percentage'
        },
        grid: {
          verticalLines: true,
          horizontalLines: false,
          outlineWidth: 1,
          outline: 'sw'
        }
      }


    // render graph

    generic_graph(element,[{data:playerLoss,label:"Player Loss"}], parameters);

  }



</script>


</body>
</html>
