<!doctype html>
<html lang="en" ng-app="devcenterTest">
<head>
  <meta charset="utf-8">
  <title>Mission Kontrol</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/app.css"/>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="stylesheet" href="css/font-awesome.css">

  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-responsive.css">

  <link rel="stylesheet" href="./css/ui-lightness/jquery-ui-1.8.21.custom.css">

  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="css/pages/dashboard.css">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->


</head>
<body>

  <div id="wrapper">


    <div id="topbar">

      <div class="container">

        <a href="javascript:;" id="menu-trigger" class="dropdown-toggle" data-toggle="dropdown" data-target="#">
          <i class="icon-cog"></i>
        </a>

        <div id="top-nav">

          <ul ng-Controller="NavigationCtrl">
            <li ng-repeat="navigation in navigations">
                <a href="{{navigation.href}}"><i class="icon-th-list"></i> Mission Kontrol</a>
            </li>
            <li class="dropdown" ng-show="loggedIn">
              <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                Select Game
                <b class="caret"></b>
              </a>

              <ul ng-controller="GamesCtrl" class="dropdown-menu pull-right" >
                <div  ng-init="getGames()">
                  <li ng-repeat="game in games | orderBy:'name'" >
                    <a href="#/games/{{game.uuid}}"><i class="icon-dashboard"></i> {{game.name}}</a>
                  </li>
                </div>
                <li class="divider" ng-show="games.length > 0"></li>
                <li ng-show="loggedIn"><a href="#/games/new"><i class="icon-plus-sign"></i> Add a new game</a></li>
              </ul>
            </li>
          </ul>

          <ul class="pull-right">
            <li ng-show="loggedIn"><a href="javascript:;"><i class="icon-user"></i> Logged in as {{currentUser.name}}</a></li>
            <li ng-controller="UserCtrl" ng-show="loggedIn"><a ng-click="logout()" style=""><i class=" icon-signout"></i> Log out</a></li>
            <li ng-hide="loggedIn"><a href="/auth/auth_backend" style=""><i class=" icon-signin"></i> Log in</a></li>
          </ul>

        </div> <!-- /#top-nav -->

      </div> <!-- /.container -->

    </div> <!-- /#topbar -->


    <div ng-view></div>


  </div>

  <div id="footer">

    <div class="container">

      <div class="row">

        <div class="span3">

          <ul>
            <li>Mission Kontrol is a <a href="http://quarterspiral.com">Quarter Spiral</a> service.</li>
            <li>&copy; 2012 Quarter Spiral</li>
          </ul>

        </div>



        <div class="span3">

          <ul>
            <li>Build with Twitter's <a href="http://twitter.github.com/bootstrap/index.html" target="new">Bootstrap</a></li>
            <li>Using the excellent <a href="http://glyphicons.com" target="new">Glyphicons</a></li>
          </ul>

        </div>

        <div class="span2">


          <ul class="links">
            <li><a href="http://blog.quarterspiral.com" target="new">Tumblr</a></li>
            <li><a href="http://www.twitter.com/quarterspiral" target="new">Twitter</a></li>
            <li><a href="http://www.facebook.com/pages/Quarter-Spiral/478788575475075">Facebook</a></li>
            <li><a href="https://plus.google.com/u/0/b/115985724291808650340/115985724291808650340/posts">Google+</a></li>
          </ul>

        </div>

        <div class="span4">
          <a href="http://quarterspiral.com"><img src="img/QS-logo.png" /></a>
        </div>

      </div>

    </div>
  </div>


  <!-- Load Environment Variables-->
  <script src="js/envs.js"></script>

  <!-- Load Angular App -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-cookies.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>


  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Adds the Filepicker.io javascript library to the page -->
  <script src="https://api.filepicker.io/v1/filepicker.js"></script>
  <script src="js/filepicker.js"></script>

  <script src="lib/misc/jquery-1.8.0.js"></script>
  <script src="js/libs/bootstrap.js"></script>
  <script src="lib/misc/porthole.min.js"></script>

  <script src="js/libs/modernizr-2.5.3.min.js"></script>

</body>
</html>
