<div ng-include src="'partials/meta/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2>Overview</h2>
        <p>What is happening with Quarter Spiral</p>
      </div> <!-- /.masthead-text -->

    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->




<div id="content">

  <div class="container">

    <div class="row">

      <div class="span9">
        <h2>Today</h2>
        <hr />
    

        <div class="row">

          <div class="span3">
            <table class="table stat-table">
              <tbody>
                <tr class="coming-soon">
                  <td class="value">$3421 <span class="plus">+10</span></td>
                  <td class="full">Revenue </td>
                </tr>
                <tr>
                  <td class="value">12,032 <span class="minus">-0.3%</span></td>
                  <td class="full">DAU</td>
                </tr>
              </tbody>
            </table>
            <p class="tip">
              Resets at 12am EST (7h 32m ago)
            </p>
          </div>

          <div class="span3">
            <table class="table stat-table">
              <tbody>
                <tr>
                  <td class="value">30 <span class="plus">+5</span></td>
                  <td class="full">New Developers</td>
                </tr>
                <tr>
                  <td class="value">2000 <span class="plus">+121</span></td>
                  <td class="full">New Players</td>
                </tr>
                <tr>
                  <td class="value">18 <span class="plus">+2</span></td>
                  <td class="full">New Games</td>
                </tr>
              </tbody>
            </table>
            <p class="tip">
              Resets at 12am EST (7h 32m ago)
            </p>
          </div>
        </div>

      </div>

      <div class="span3">
        <h2>All Time</h2>
        <hr />

        <table class="table stat-table">
          <tbody>
            <tr>
              <td class="value">18,322</td>
              <td class="full">Developers</td>
            </tr>
            <tr>
              <td class="value">453,000</td>
              <td class="full">Players</td>
            </tr>
            <tr>
              <td class="value">23,000</td>
              <td class="full">Games</td>
            </tr>
          </tbody>
        </table>
        <p class="tip">
          Since 3/1/2012
        </p>

      </div>


    </div>
    <div class="row">

      <div class="span12">
        <h2>Daily Game Charts</h2>
        <hr />
      </div>

      <div class="span4 coming-soon">
        <h3>Top 10 by Revenue</h3>
        <ol class="topGames">
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>5</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="minus"><i class="icon-arrow-down"></i>1</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>3</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>12</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="minus"><i class="icon-arrow-down"></i>2</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="counter">$232</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>6</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="counter">$232</span></li>
          <li>Awesome Title <span class="minus"><i class="icon-arrow-down"></i>5</span><span class="counter">$232</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>11</span><span class="counter">$232</span></li>
        </ol>
      </div>

      <div class="span4">
        <h3>Top 10 by DAU</h3>
        <ol class="topGames">
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>5</span><span class="counter">4322</span></li>
          <li>Awesome Title <span class="counter">3432</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>3</span><span class="counter">2333</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>12</span><span class="counter">1233</span></li>
          <li>Awesome Title <span class="minus"><i class="icon-arrow-down"></i>2</span><span class="counter">998</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>13</span><span class="counter">345</span></li>
          <li>Awesome Title <span class="counter">122</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>7</span><span class="counter">121</span></li>
          <li>Awesome Title <span class="minus"><i class="icon-arrow-down"></i>5</span><span class="counter">98</span></li>
          <li>Awesome Title <span class="plus"><i class="icon-arrow-up"></i>11</span><span class="counter">65</span></li>
        </ol>
      </div>

      <div class="span4">
        <h3>Newcomers</h3>
        <ol class="topGames">
          <li>Awesome Title <span class="counter">5 min ago</span></li>
          <li>Awesome Title <span class="counter">10 min ago</span></li>
          <li>Awesome Title <span class="counter">1 hour ago</span></li>
          <li>Awesome Title <span class="counter">2 hours ago</span></li>
          <li>Awesome Title <span class="counter">yesterday</span></li>
          <li>Awesome Title <span class="counter">yesterday</span></li>
          <li>Awesome Title <span class="counter">2/12/2013</span></li>
          <li>Awesome Title <span class="counter">2/12/2013</span></li>
          <li>Awesome Title <span class="counter">2/11/2013</span></li>
          <li>Awesome Title <span class="counter">2/11/2013</span></li>
        </ol>
      </div>

    </div>

  </div>
</div>

