<div ng-include src="'partials/meta/header.html'"></div>

<div id="masthead">

  <div class="container">

    <div class="masthead-pad">

      <div class="masthead-text">
        <h2>Payouts</h2>
        <p>Let's show our developers some love!</p>
      </div> <!-- /.masthead-text -->

    </div>

  </div> <!-- /.container -->

</div> <!-- /#masthead -->




<div id="content">

  <div class="container">

    <div class="row">

      <div class="span12">

        <p>Any devloper with a qualifying balance of more than US$100 ordered by their last pay out date (ascending). Qualifying balaces are to be paid out at least every 2 month.</p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Game</th>
              <th>Payee</th>
              <th>Current Balance</th>
              <th>Previous Balance</th>
              <th>Total Payments</th>
            </tr>
          </thead>
          <tbody>
            <tr class="">
              <td><strong>Pop 50</strong></td>
              <td>
                <strong>Ethan Levy</strong><br />
                Adress<br />
                Email: sdfsdf@asfs.com</br>
                Phone: 124-124-1234
              </td>
              <td>
                <strong>$US 234.21</strong><br />
                <a href="#" class="btn btn-small">Mark as paid</a>
              </td>
              <td>
                $US 121.21<br />
                Payment ID: #234211<br />
                Marked as paid on <strong>1/27/2013</strong></br />
                <a href="#" class="btn btn-small">Confirm receipt</a>
              </td>
              <td>
                $US 6,232.21 since 12/1/2012<br />
                6 payouts to date</br>
                <a href="#">See payment history</a>
              </td>
            </tr>
            <tr class="">
              <td><strong>One Million Faces0</strong></td>
              <td>
                <strong>Alexander Kohlhofer</strong><br />
                Adress<br />
                Email: sdfsdf@asfs.com</br>
                Phone: 124-124-1234
              </td>
              <td>
                <strong>$US 4.21</strong><br />
                <a href="#" class="btn btn-small">Mark as paid</a>
              </td>
              <td>
                $US 6.21<br />
                Payment ID: #224111<br />
                Marked as paid on <strong>1/26/2013</strong><br />
                <a href="#" class="btn btn-small">Confirm receipt</a>
              </td>
              <td>
                $US 34.21 since 1/1/2013<br />
                3 payouts to date<br />
                <a href="#">See payment history</a>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>

  </div>
</div>

